<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.kyleharrington.VitaminG</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vitaming</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>CormorantGaramond-Regular.ttf</string>
		<string>CormorantGaramond-Italic.ttf</string>
		<string>CormorantGaramond-Medium.ttf</string>
		<string>CormorantGaramond-SemiBold.ttf</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Vitamin G uses your camera to take profile photos and goal check-in photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Vitamin G accesses your photo library so you can choose a profile photo or attach a photo to a community check-in.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Vitamin G uses Face ID to keep your goals private when the app lock is enabled.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
